body{
background-color:#6481D9;
color:black;
}
header{
    margin: 50px;
    background-color;egb #6481D9;
    text-size-adjust: 75px;
    justify-content:center;
    border:solid 5px rgb (#212B48)
    padding 60px 
}
section{
background-color: rgb(42, 71, 165);
margin:50px;
display:flex;
padding-top: 100px;
padding-bottom: 120px;
}