body{
background-color:#6481D9;
color:black;
}

section{
background-color: rgb(0, 87, 138);
padding-top: 75px ;
padding-bottom: 75px;
display: flex;
justify-content: center;
}

.primeira chamada {
    margin-right: 5%;
}

.mais videos de buque{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

header{
    margin: 50px;
    background-color;egb #6481D9;
    text-size-adjust: 75px;
    justify-content:center;
    border:solid 5px rgb (#212B48)
    padding 60px 
}